In [ ]:
from home_messages_db import HomeMessagesDB
from sqlalchemy import String, Integer, Float, Column, Table, inspect

In [ ]:
# Currently using the chinook.db dataset because db/pythonsqlite.db is empty

testInterface = HomeMessagesDB("sqlite:///db/chinook.db")
testInterface

## Querying (selecting data) from database with .query() method

In [ ]:
print(testInterface.query.__doc__)

In [ ]:
# example 1: using direct SQL expression
statement = "SELECT * from tracks LIMIT 5"
result = testInterface.query(stmt=statement, rawSQL = True)
result

In [ ]:
# example 2: using SQLAlchemy-expression + returning data as pd.dataframe (useful for later data analysis)
statement = ( testInterface.metadata.tables['albums'].select() )
result = testInterface.query(stmt=statement, as_df=True)
result

## Creating table with .create_table() method

In [ ]:
print(testInterface.create_table.__doc__)

In [ ]:
testInterface.create_table(name="DUMMY_TABLE", columns=['id', 'name', 'height'],
                           columnTypes=[Integer, String, Float], primaryKey='id')

In [ ]:
testInterface.metadata.tables['DUMMY_TABLE']

## Inserting df into table
W.I.P.

## Deleting table with .delete_table() method

In [ ]:
print(testInterface.delete_table.__doc__)

In [ ]:
inspect(testInterface.engine).has_table("DUMMY_TABLE")

In [ ]:
testInterface

In [ ]:
testInterface.delete_table("DUMMY_TABLE")

In [ ]:
inspect(testInterface.engine).has_table("DUMMY_TABLE")